@import url('../../../style.default.css');

.container1 {
  background-color: #ccc;
  max-width: min(97vw, 600px);
  position: relative;

  &,
  * {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    margin: 1rem 0 0;
  }

  .container2 {
    background-color: #a6a5a5;
    position: relative;

    .container3 {
      background-color: #4b4a4a;
      position: relative;
    }
  }
}

h2 {
  margin: 2rem 0 5px;
}