@import url('../../../style.default.css');

body {
  background-color: #cccccc1d;
}

main {
  width: min(100%, 97vw);
}

h2 {
  margin: 0 0 2rem;
}

.drop-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(100%, 700px);
  height: min(450px, 70vh);
  border: 1px solid steelblue;
  background-color: blanchedalmond;
  margin: 0 auto 1rem;
}

.drop-box .drop-text {
  color: cornflowerblue;
  white-space: nowrap;
}

.file-display {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.file-display figure {
  width: 100%;
  height: fit-content;
}

.file-display figure img {
  border: 0.5px solid cornflowerblue;
  width: 100%;
  min-height: 200px;
  /* max-height: 200px; */

  &.error {
    border: 1px solid tomato;
  }
}

.file-display figure figcaption {
  background-color: #cccccc;
  font-weight: 400;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}
